### IntelliJ IDEA ###
out/
!**/src/main/**/out/
!**/src/test/**/out/

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store
/.idea/.gitignore
/.idea/modules.xml
/.idea/misc.xml
/.idea/vcs.xml
/.idea/uiDesigner.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/intellij-javadocs-4.0.1.xml
/.idea/artifacts/Lab5_jar.xml
/documentation/exceptions/AbsentRequiredParametersException.html
/documentation/commands/AddCommand.html
/documentation/allclasses-index.html
/documentation/allpackages-index.html
/documentation/Application.html
/documentation/commands/BaseCommand.html
/documentation/utils/BaseConsole.html
/documentation/commands/ClearCommand.html
/documentation/utils/CollectionManager.html
/documentation/utils/CommandExecutor.html
/documentation/routeClasses/Coordinates.html
/documentation/legal/COPYRIGHT
/documentation/commands/CountGreaterThanDistanceCommand.html
/documentation/element-list
/documentation/commands/ExecuteScriptCommand.html
/documentation/commands/ExitCommand.html
/documentation/exceptions/ExitException.html
/documentation/utils/FileConsole.html
/documentation/resources/glass.png
/documentation/help-doc.html
/documentation/commands/HelpCommand.html
/documentation/commands/ICommand.html
/documentation/index.html
/documentation/index-files/index-1.html
/documentation/index-files/index-2.html
/documentation/index-files/index-3.html
/documentation/index-files/index-4.html
/documentation/index-files/index-5.html
/documentation/index-files/index-6.html
/documentation/index-files/index-7.html
/documentation/index-files/index-8.html
/documentation/index-files/index-9.html
/documentation/index-files/index-10.html
/documentation/index-files/index-11.html
/documentation/index-files/index-12.html
/documentation/index-files/index-13.html
/documentation/index-files/index-14.html
/documentation/index-files/index-15.html
/documentation/index-files/index-16.html
/documentation/index-files/index-17.html
/documentation/index-files/index-18.html
/documentation/commands/InfoCommand.html
/documentation/utils/InputValidator.html
/documentation/exceptions/InvalidDistanceException.html
/documentation/exceptions/InvalidNameException.html
/documentation/legal/jquery.md
/documentation/script-dir/jquery-3.6.1.min.js
/documentation/script-dir/jquery-ui.min.css
/documentation/script-dir/jquery-ui.min.js
/documentation/jquery-ui.overrides.css
/documentation/legal/jqueryUI.md
/documentation/legal/LICENSE
/documentation/routeClasses/LocationFrom.html
/documentation/routeClasses/LocationTo.html
/documentation/Main.html
/documentation/member-search-index.js
/documentation/module-search-index.js
/documentation/overview-summary.html
/documentation/overview-tree.html
/documentation/package-search-index.js
/documentation/commands/package-summary.html
/documentation/exceptions/package-summary.html
/documentation/routeClasses/package-summary.html
/documentation/utils/package-summary.html
/documentation/package-summary.html
/documentation/commands/package-tree.html
/documentation/exceptions/package-tree.html
/documentation/routeClasses/package-tree.html
/documentation/utils/package-tree.html
/documentation/package-tree.html
/documentation/commands/PrintAscendingCommand.html
/documentation/commands/PrintFieldDescendingDistanceCommand.html
/documentation/commands/ReadRoute.html
/documentation/commands/RemoveAtCommand.html
/documentation/commands/RemoveByIdCommand.html
/documentation/commands/ReorderCommand.html
/documentation/routeClasses/Route.html
/documentation/routeClasses/RouteDistanceComparator.html
/documentation/commands/SaveCommand.html
/documentation/script.js
/documentation/search.js
/documentation/serialized-form.html
/documentation/commands/ShowCommand.html
/documentation/commands/SortCommand.html
/documentation/stylesheet.css
/documentation/utils/SystemInConsole.html
/documentation/tag-search-index.js
/documentation/type-search-index.js
/documentation/exceptions/UnknownCommandException.html
/documentation/commands/UpdateByIdCommand.html
/documentation/exceptions/WrongArgumentsException.html
/documentation/resources/x.png
/~$Report.docx
